.titulo {
    font-size: 24px;
    font-family: Tahoma;
}

.subtitulo {
    font-size: 22px;
    font-family: Tahoma;
}

p {
    font-size: 18px;
    font-family: Arial;
    padding-inline-start: 32px;
}

span {
    font-weight: bold;
}